form{
    background-color: aqua;
    width: 80%;
    
    position: relative;
    left: 90px;
    height: ;
    border: 2px solid;
    border-radius: 20px;
}
.username__input{
    margin: 5px;
    padding: 10px;
    text-align: right;
}
form h2{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}
.allegries__option-value{
    display: grid;
    margin: 5px;
    padding: 5px;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    row-gap: 5px;
    position: relative;
    left: 20px;
}
.submitUserInfo{
    display: block;
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}